.table_row{
    display: table-row;
    font-weight: 300;
    font-size: 18px;
    transition: .3s;
}

.table_row:hover{
    background: #ececec;
}

.table_col{
    display: table-cell;
    padding: 25px 0;
    border-bottom: 1px solid #d2d2d2;
}

.table_header{
    font-weight: 400;
}

.table_check{
    width: 80px;
    text-align: center;
}

.tabel_del{
    width: 80px;
}

.table_delete{
    cursor: pointer;
}

.table_name{
    padding-left: 40px;
}
