.projects_table{
    width: 100%;
    display: table;
}

.table_row{
    display: table-row;
    font-weight: 300;
    font-size: 18px;
    transition: .3s;
}


.table_col{
    display: table-cell;
    padding: 25px 0;
    border-bottom: 1px solid #d2d2d2;
}

.table_header{
    font-weight: 400;
}

.table_name{
    padding-left: 40px;
}