/* projects table */

.projects_table{
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.table_line{
    display: table-row;
    border-bottom: 1px solid #d2d2d2;
    font-size: 18px;
    font-weight: 300;
}

.table_header{
    font-weight: 400;
    font-size: 18px;
}

.table_col{
    padding: 20px 0;
    display: table-cell;
}

.table_delete{
    width: 80px;
}

.table_check{
    width: 48px;
    text-align: center;
}

.table_checkBox{
    width: 19px;
    height: 19px;
    margin: 0;
}