.modal{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 99;
    transform: scale(0);
    transition: .3s;
}

.modal.active{
    transform: scale(1);
}

.modal__cont{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    min-width: 620px;
    min-height: 400px;
}