.modal {
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 99;
    opacity: 0;
    transition: .6s;
}

.modal.active {
    transform: scale(1);
    opacity: 1;
    top: 0;
}

.modal__cont {
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 630px;
    min-height: 100px;
}

.modal__close {
    position: absolute;
    font-weight: 200;
    font-size: 48px;
    right: 0;
    top: -40px;
    color: #fff;
    cursor: pointer;
}