.projects_actions {
    height: 60px;
    background: #ededed;
    display: flex;
    box-sizing: border-box;
    padding: 0 40px;
    align-items: center;
}

.action_delete{
    cursor: pointer;
}

.action_add {
    height: 38px;
    color: white;
    font-weight: 300;
    padding: 0 25px;
    background: #11a65a;
    transition: 0.3s;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
    cursor: pointer;
    border: none;
    transition: .3s;
}

.action_add:hover{
    background: #17d171;
}